body {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: black;
    background-repeat: no-repeat;
    color: dodgerblue;
    font-family: 'Metal Mania', system-ui;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(images/Tw.png);
    background-size: 50%;
    /* Cover ensures the background image covers the entire container */
    background-position: center center;
    /* Centers the background image both horizontally and vertically */
    background-attachment: fixed;
    /* Fixes the background image in place */
    min-height: 100vh;
    /* Sets the minimum height of the body to the full viewport height */
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */

}

.nav-buttons{
    font-size: 40px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-buttons a{
    display: block;
    padding: 0;
    background-color: #3d3d3d;
}

h1 {
    font-size: 60px;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    font-size: 30px;
    width: 80%;
    max-height: 60vh; /* Subtract space for header and footer */
    margin: auto;
    border: 2px solid dodgerblue;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    flex: 1; /* Allow main content to grow and fill available space */
    padding: 20px; /* Adjust as needed */
    border-radius: 20px;
}

header {
    background-color: transparent;
    /* Adjust as needed */
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: black;
    color: dodgerblue;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    background-color: grey;
    color: black;
}

footer {
    background-color:  rgba(0, 0, 0, 0.7);
    font-size: medium;
    text-align: center;
    border-radius: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

